<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('./partials/header') %> 

    <main>
      <h2 class="titular">Basado en tu última visita</h2>

      <% if (productos) { %> 
        <section class="catalogo">
          <% productos.forEach(producto => { %> 
          <article class="producto">
            <img
              src=<%= producto.image %> 
              alt=<%= producto.title %>
            />
            <div class="detalle-articulo">
              <div class="icono-envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">Precio: $<%= producto.price %></p>
              <p class="detalle descuento">Rating <%= producto.rating.rate %></p>
              <h3 class="detalle descripcion"><%= producto.title %></h3>
              </div>
            </div>
          </article>
          <% }) %>
        </section>
      <% } %>
      <section class="catalogo">

        <article class="producto">
          <img
            src="./images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="precio">Precio: $6.770</p>
            <p class="detalle descuento">40% OFF</p>
            <h3 class="detalle descripcion">Cafetera Moulinex</h3>
            </div>
          </div>
        </article>

        <article class="producto">
          <img
            src="./images/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
          <p class="precio">Precio: $230.000</p>
          <p class="detalle descuento">20% OFF</p>
          <h3 class="detalle descripcion">MacBook Pro 2019</h3>
            </div>
        </article>

        <article class="producto">
          <img
            src="./images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
          <p class="precio">Precio: $70.500</p>
          <p class="detalle descuento">10% OFF</p>
          <h3 class="detalle descripcion">Samsung Galaxy S10</h3>
            </div>
        </article>

        <article class="producto">
          <img
            src="./images/img-tv-samsung-smart.jpg"
            alt='SmartTv Samsung 43"'
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="precio">Precio: $23.200</p>
            <p class="detalle descuento">5% OFF</p>
            <h3 class="detalle descripcion">SmartTv Samsung 43"</h3>
            </div>
        </article>
      </section>

      <h2 class="titular">Ofertas</h2>
      <section class="catalogo">

        <article class="producto">
          <img
            src="./images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
          <p class="precio">Precio: $6.770</p>
          <p class="detalle descuento">40% OFF</p>
          <h3 class="detalle descripcion">Cafetera Moulinex</h3>
            </div>
        </article>

        <article class="producto">
          <img
            src="./images/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
          <p class="precio">Precio: $230.000</p>
          <p class="detalle descuento">20% OFF</p>
          <h3 class="detalle descripcion">MacBook Pro 2019</h3>
            </div>
        </div>
        </article>

        <article class="producto">
          <img
            src="./images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="precio">Precio: $70.500</p>
            <p class="detalle descuento">10% OFF</p>
            <h3 class="detalle descripcion">Samsung Galaxy S10</h3>
            </div>
        </article>

        <article class="producto">
          <img
            src="./images/img-tv-samsung-smart.jpg"
            alt='SmartTv Samsung 43"'
          />
          <div class="detalle-articulo">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
          <p class="precio">Precio: $23.200</p>
          <p class="detalle descuento">5% OFF</p>
          <h3 class="detalle descripcion">SmartTv Samsung 43"</h3>
        </article>
      </section>
    </main>
    
    <%- include('partials/footer') %> 
  </body>
</html>
